addict==2.4.0
cached-property==1.5.2
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
cycler==0.10.0
Cython==0.29.24
filelock==3.0.12
future==0.18.2
gdown==3.12.2
h5py==3.1.0
idna==3.2
imageio==2.9.0
imutils==0.5.3
kiwisolver==1.2.0
matplotlib==3.3.2
mmcv==0.2.14
-e git+https://github.com/hasanirtiza/Pedestron@e8ec431c05c05849a7ea341553f0b4a4252c774d#egg=mmdet
numexpr==2.7.1
numpy==1.21.2
opencv-python==4.5.3.56
pandas==1.1.4
Pillow==7.2.0
pycocotools==2.0.2
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4.1
requests==2.26.0
scipy==1.5.2
six==1.16.0
tables==3.6.1
terminaltables==3.1.0
torch==1.2.0
torchvision==0.4.0
tqdm==4.50.0
urllib3==1.26.6
yapf==0.30.0
